body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #000; 
    user-select: none;
    -webkit-user-select: none;
}
canvas { 
    display: block; 
}

h1 { 
    margin: 0; 
    font-size: 32px; 
    letter-spacing: 4px; 
    text-shadow: 0 4px 15px rgba(0,0,0,0.8);
}





/* Responsive Media Queries */
@media (max-width: 768px) {
    #ui {
        top: 20px;
        left: 20px;
    }
    
    h1 {
        font-size: 24px;
        letter-spacing: 2px;
    }

    #compass {
        display: none;
    }
}
